
.p1
{
    background-color: gray;
    height:max-content;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 507px;
    color: white;
}
.p2
{
    background-color: whitesmoke;
    padding-bottom: 5px;
    padding-top: 25px;

}

.main
{
    height: fit-content;
}

.para
{
    text-align: center;
    padding: 30px;
}
.t
{
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 42px;   
}

.toggle
{
    background-color: white;
    text-align: center;
    padding: 25px;
}