.p1 {
  background-color: grey;
  height: max-content;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 590px;
  color: white;
}
.p2 {
  background-color: #ffffff !important;
  padding-top: 25px;
}

.main {
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 40px;
}

.para {
  text-align: center;
  padding: 30px;
}
.t {
  text-align: center;
  background-color: #ffffff !important;
  padding-bottom: 59.5px;
  margin: 0;
}

.toggle {
  background-color: white;
  text-align: center;
  padding: 25px;
}
