
.p
{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.first
{
    margin-top: 120px;
    align-content: flex-end;
    margin-bottom: 30px;
    
}
button
{
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    
    padding: 5px;
}

.main
{
    height: max-content;
    background-color: white;
    padding-left: 10px;
    padding-right: 4px;
    padding-top: 20px;
    padding-bottom: 20px;

}


p
{
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    margin-bottom: 2px;

}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    border-color: gray;
    border-style: solid;
    /*background: linear-gradient(270deg, #3fa1a9, #79f1a4);*/
    margin-bottom: 25px;
  }

/*
  .img-upload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }
  */
  .img-upload:hover:before{
   opacity: 1;
  }
  img {
    height: 150px;
  }